*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
}
.page{
	width: 100%;
}
img{
	display: block;
	width: 100%;

}
.hidden{
	display: none;
}
.page{
	position: relative;
}
.page .container{
	width: 100%;
	position: absolute;

}
.page .gremAll{
	position: absolute;
	left: 25%;
	/*top: 20%;*/
	margin-top: 16%;
	width: 40%;
}
.page .gremAll .grem{
	width: 8%;

}
.page .gremAll .redgrem{
	position: absolute;
	left: -5%;
	margin-top: 22%;

}
.page4 .gremAll .redgrem,.page5 .gremAll .redgrem{
	left: 22%;
	margin-top: 32%;
	width: 8%;
}
.page .gremAll .blackgrem{
	position: absolute;
	left: 8%;
	margin-top: 10%;

}
.page4 .gremAll .blackgrem,.page5 .gremAll .blackgrem{
	margin-top: 9%;
}
.page .gremAll .bluegrem{
	position: absolute;
	margin-top: 16%;
	left:26%;
	
}
.page .gremAll .bluegrem{
	left: 34%;
}
.page .gremAll .greengrem{
	position: absolute;
	margin-top: 7%;
	left: 24%;
	width: 10%;
}
.page .gremAll .orangegrem{
	position: absolute;
	margin-top: 14%;
	left: -6%;
	width: 10%;
}
.page .gremAll .greensmall{
	position: absolute;
	margin-top: 0%;
	left: 15%;
}
.page .gremAll .orangesmall{
	position: absolute;
	margin-top: 1%;
	left: -5%;
}
