<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="description" content="安视优">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1, maximum-scale=1,,user-scalable=no">
		<meta name="format-detection" content="telephone=no,email=no" />
		<meta http-equiv="X-UA-Compatible" content="chrome=1" />
		<title>安视优</title>
		<link rel="stylesheet" href="css/eyeCommon.css" />
		<link rel="stylesheet" href="css/eye.css" />
	</head>

	<body>

		<!--第六页-->
		<div class="page page6 oldpage">
			<div class="suessTitle pos">
				<img src="eyeImg/p6/wishText.png" />
			</div>
			<div class="suessCenter ">
				<img src="eyeImg/p6/eyeball.png" />
			</div>
			<div class="suessT pos">
				<img src="eyeImg/p6/suessText.png" />
			</div>

		</div>

	</body>
	<script src="js/jquery-1.11.3..min.js" type="text/javascript" charset="utf-8"></script>
	<script>

		//摇一摇
		var SHAKE_THRESHOLD = 1800;
		var last_update = 0;
		var x = y = z = last_x = last_y = last_z = 0;

		if(window.DeviceMotionEvent) {
			window.addEventListener('devicemotion', deviceMotionHandler, false);
		} else {
			alert('抱歉，你的手机配置实在有些过不去，考虑换个新的再来试试吧');
		}
		var times = 0;
		var num = 0; //统计摇一摇的次数
		function deviceMotionHandler(eventData) {

			var acceleration = eventData.accelerationIncludingGravity;
			var curTime = new Date().getTime();

			if((curTime - last_update) > 100) {
				var diffTime = curTime - last_update;
				last_update = curTime;
				x = acceleration.x;
				y = acceleration.y;
				z = acceleration.z;
				var speed = Math.abs(x + y + z - last_x - last_y - last_z) / diffTime * 10000;
				var status = document.getElementById("status");

				if(speed > SHAKE_THRESHOLD) {

					doResult();

					num++; //每摇一次，num加1

				}
				last_x = x;
				last_y = y;
				last_z = z;
			}
		}

		function doResult() {
			if(times > 0) {
				return false;
			}
			$('.shakeImg').addClass('hand');

			setTimeout(function() {
				times = 0;
				$('.shakeImg').removeClass('hand');

			}, 3000);
		}
	</script>

</html>
